<section class="space-top space-extra-bottom">
  <div class="container">
    <div class="title-area text-center"><span class="sub-title"><img class="icon" src="assets/img/icon/title_icon.svg"
          alt="icon"> Restaurant Name</span>
      <!-- <h2 class="sec-title">Nos produits -->
      <!-- <span class="font-style text-theme">Food Menu</span> -->
      <!-- </h2> -->
      <p class="sec-text ms-auto me-auto">Desc</p>
    </div>
    <h3 class="divider-title mt-n2"><span class="text">Nos produits</span></h3>
    <div class="row gy-4">
      <div class="col-lg-6">
        <div class="as-product list-view">
          <div class="product-img"><img src="assets/img/menu/menu_rest_1_1.png" alt="Product Image"></div>
          <div class="product-content">
            <h3 class="product-title"><a href="shop-details.html">Beef Masala Salad</a></h3>
            <p class="product-text">Lightly smoked and minced pork tenderloin topped with our chilli hot
              sauce.</p><span class="price">$180.85<del>$350.99</del></span>
            <div class="actions"><a href="cart.html" class="as-btn">order now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="as-product list-view">
          <div class="product-img"><img src="assets/img/menu/menu_rest_1_2.png" alt="Product Image"></div>
          <div class="product-content">
            <h3 class="product-title"><a href="shop-details.html">Dhokla Sambar</a></h3>
            <p class="product-text">Lightly smoked and minced pork tenderloin topped with our chilli hot
              sauce.</p><span class="price">$190.85</span>
            <div class="actions"><a href="cart.html" class="as-btn">order now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="as-product list-view">
          <div class="product-img"><img src="assets/img/menu/menu_rest_1_3.png" alt="Product Image"></div>
          <div class="product-content">
            <h3 class="product-title"><a href="shop-details.html">Egg Roll</a></h3>
            <p class="product-text">Lightly smoked and minced pork tenderloin topped with our chilli hot
              sauce.</p><span class="price">$160.85</span>
            <div class="actions"><a href="cart.html" class="as-btn">order now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="as-product list-view">
          <div class="product-img"><img src="assets/img/menu/menu_rest_1_4.png" alt="Product Image"></div>
          <div class="product-content">
            <h3 class="product-title"><a href="shop-details.html">Vegetable Soup</a></h3>
            <p class="product-text">Lightly smoked and minced pork tenderloin topped with our chilli hot
              sauce.</p><span class="price">$170.85</span>
            <div class="actions"><a href="cart.html" class="as-btn">order now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="as-product list-view">
          <div class="product-img"><img src="assets/img/menu/menu_rest_1_5.png" alt="Product Image"></div>
          <div class="product-content">
            <h3 class="product-title"><a href="shop-details.html">Roti canai Paratha</a></h3>
            <p class="product-text">Lightly smoked and minced pork tenderloin topped with our chilli hot
              sauce.</p><span class="price">$120.85</span>
            <div class="actions"><a href="cart.html" class="as-btn">order now</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="as-product list-view">
          <div class="product-img"><img src="assets/img/menu/menu_rest_1_6.png" alt="Product Image"></div>
          <div class="product-content">
            <h3 class="product-title"><a href="shop-details.html">Dosa Chutney</a></h3>
            <p class="product-text">Lightly smoked and minced pork tenderloin topped with our chilli hot
              sauce.</p><span class="price">$100.85</span>
            <div class="actions"><a href="cart.html" class="as-btn">order now</a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
