<section class="space bg-smoke2" style="background-image: url(assets/img/bg/feature_bg_1.png)">
  <div class="container">


    <div class="title-area text-center" style="margin-top: -50px;"><span class="sub-title"><img class="icon"
          src="assets/img/icon/title_icon.svg" alt="icon"> Restaurants </span>
      <p class="sec-text ms-auto me-auto">
        Objectively pontificate quality models before intuitive information.
        Dramatically recaptiualize multifunctional materials.
      </p>
    </div>
    <div class="row as-carousel slider-shadow number-dots">

      <!-- <div class="as-comment-form" style="background-color: rgba(255, 255, 255, 0); ">
        <div class="row">

          <div class="col-md-11 form-group">
            <input type="text" placeholder="Rechercher" class="form-control">
          </div>

          <div class="col-1 form-group mb-0"><button class="as-btn"> <i class="fa fa-search"></i> </button>
          </div>
        </div>
      </div> -->



      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="menu-card">
          <div class="menu-card_content">
            <h3 class="menu-card_title box-title"><a href="shop-details.html">Daria Shevtsova</a></h3>
            <p class="menu-card_text">Collaboratively predominate an expanded array of leadership rather
              than visionary.</p><a routerLink="/restaurants/5" class="as-btn"> <i class="fa fa-arrow-right-long"></i> </a>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
