<div class="breadcumb-wrapper" data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg">
  <div class="container z-index-common">
    <div class="breadcumb-content">
      <h1 class="breadcumb-title">Our <span class="font-style text-theme2">Chef</span></h1>
      <ul class="breadcumb-menu">
        <li><a href="index.html">Home</a></li>
        <li>Gerants</li>
      </ul>
    </div>
  </div>
</div>
<section class="space">
  <div class="container">
    <div class="row gy-40">
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_1.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">David Latham</a></h3><span
              class="team-desig">Chief Executive</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_2.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Mary Jenica</a></h3><span
              class="team-desig">Chief Chef</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_3.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Joseph Carter</a></h3><span
              class="team-desig">Senior Chef</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_4.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Anjelina Rosee</a></h3><span
              class="team-desig">Senior Chef</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_5.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Rubina Jenny</a></h3><span
              class="team-desig">Senior Chef</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_6.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Alex Jender</a></h3><span
              class="team-desig">Junior Chef</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_7.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Jimey Anderson</a></h3><span
              class="team-desig">Junior Chef</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_8.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Josep Brtomeu</a></h3><span
              class="team-desig">Chief Executive</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_9.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Julian Ajvarez</a></h3><span
              class="team-desig">Chief Chef</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_10.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Cristofer Galtiar</a></h3><span
              class="team-desig">Senior Chef</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_11.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Robart Latham</a></h3><span
              class="team-desig">Senior Chef</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="team-card">
          <div class="team-img"><img src="assets/img/team/team_1_12.jpg" alt="Team"></div>
          <div class="team-content">
            <h3 class="team-title box-title"><a href="team-details.html">Michel Clark</a></h3><span
              class="team-desig">Senior Chef</span>
            <div class="as-social"><a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                href="https://instagram.com/"><i class="fab fa-instagram"></i></a> <a target="_blank"
                href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
