<footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/footer_bg_1.jpg">
  <div class="container">
    <div class="footer-top">
      <div class="row align-items-center">
        <div class="col-xl-3">
          <div class="footer-logo"><img src="assets/img/logo-white.svg" alt="Pizzer"></div>
        </div>
        <div class="col-xl-9">
          <div class="subscribe-box">
            <div>
              <h2 class="subscribe-box_title">Subscription News</h2>
              <p class="subscribe-box_text">Subscribe to the weekly newsletter for latest updates.</p>
            </div>
            <form class="newsletter-form"><input class="form-control" type="email" placeholder="Enter Email Address"
                required=""> <button type="submit" class="as-btn style3">SUBCRIBE<i
                  class="fas fa-arrow-right ms-2"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-area">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6 col-xl-3">
          <div class="widget footer-widget">
            <h3 class="widget_title">About Restaurant</h3>
            <div class="as-widget-about">
              <p class="about-text">Quickly supply alternative strategic theme areas vis-a-vis B2C
                mindshare. Objectively repurpose stand-alone synergy via user-centric architectures.
              </p>
              <div class="as-social"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a
                  href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a
                  href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                  href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-auto">
          <div class="widget widget_nav_menu footer-widget">
            <h3 class="widget_title">Quick Links</h3>
            <div class="menu-all-pages-container">
              <ul class="menu">
                <li><a href="about.html">About Us</a></li>
                <li><a href="menu-fast.html">Menu</a></li>
                <li><a href="project.html">Testimonial</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-auto">
          <div class="widget widget_nav_menu footer-widget">
            <h3 class="widget_title">Our Menu</h3>
            <div class="menu-all-pages-container">
              <ul class="menu">
                <li><a href="menu-fast.html">Burgers</a></li>
                <li><a href="menu-fast.html">Desserts</a></li>
                <li><a href="menu-fast.html">Pizza</a></li>
                <li><a href="menu-fast.html">Pasta</a></li>
                <li><a href="menu-fast.html">Indian Kabab</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-auto">
          <div class="widget footer-widget">
            <h3 class="widget_title">Contact Now</h3>
            <div class="as-widget-contact">
              <div class="info-box">
                <div class="info-box_icon"><i class="fal fa-location-dot"></i></div>
                <p class="info-box_text">1403 Washington Ave, New Orlea ns, LA 70130, United States
                </p>
              </div>
              <div class="info-box">
                <div class="info-box_icon"><i class="fal fa-mobile-button"></i></div>
                <p class="info-box_text"><a href="tel:+11234567890" class="info-box_link">+(1) 123
                    456 7890</a> <a href="tel:+10987654321" class="info-box_link">+(1) 098 765
                    4321</a></p>
              </div>
              <div class="info-box">
                <div class="info-box_icon"><i class="fal fa-envelope"></i></div>
                <p class="info-box_text"><a href="mailto:info@pizzer.com" class="info-box_link">info@pizzer.com</a> <a
                    href="mailto:info.example@pizzer.com" class="info-box_link">info.example@pizzer.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-wrap">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6">
          <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2022 <a
              href="https://themeforest.net/user/angfuz_soft">Angfuzsoft</a>. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 text-end d-none d-lg-block">
          <div class="footer-links">
            <ul>
              <li><a href="about.html">Privacy Policy</a></li>
              <li><a href="about.html">Terms & Condition</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
