<div class="as-checkout-wrapper space-extra-bottom" style="margin-top: 40px;">
  <div class="container">
    <!-- <div class="woocommerce-form-login-toggle">
      <div class="woocommerce-info">Returning customer? <a href="#" class="showlogin">Click here to login</a>
      </div>
    </div> -->

    <div class="row">
      <div class="col-xl-6 col-xxl-7 col-lg-12 mt-35 mt-xl-0">
        <div class="woocommerce-notices-wrapper">
          <div class="woocommerce-message">Se connecter</div>
        </div>

        <form class="woocommerce-form-login mb-30" [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="form-group"><label>Login</label>
            <input type="text" class="form-control" placeholder="Login" formControlName="username">
            <span *ngIf="!form.get('username')?.valid && form.get('username')?.touched"
              style="font-size: 13px; color: red; margin-top: -50px;">
              * Please provide a valid username
            </span>
          </div>

          <div class="form-group"><label>Mot de passe</label>
            <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password">
            <span *ngIf="!form.get('password')?.valid && form.get('password')?.touched"
              style="font-size: 13px; color: red; margin-top: -50px;">
              * Please provide a valid password
            </span>
          </div>

          <div class="form-group"><label>Role</label>
            <select name="subject" id="subject" class="form-select" formControlName="role">
              <option value="" disabled="disabled" selected="selected" hidden>Role</option>
              <option value="client">Client</option>
              <option value="gerant">Gérant</option>
              <option value="admin">Administrateur</option>
            </select>
            <span *ngIf="!form.get('role')?.valid && form.get('role')?.touched"
              style="font-size: 13px; color: red; margin-top: -50px;">
              * Please provide a role
            </span>
          </div>

          <hr>

          <div class="form-group">
            <button type="submit" class="as-btn">Connexion</button>
          </div>
        </form>
      </div>

      <div class="col-xl-6 col-xxl-5 col-lg-9 mt-35 mt-xl-0">
        <div class="title-area mb-30"><span class="sub-title"><img class="icon" src="assets/img/icon/title_icon.svg"
              alt="icon"> Vous n'avez pas d'une compte?</span>
          <h2 class="sec-title">Real Delicious Food Straight To <span class="font-style text-theme">Your
              Table</span></h2>
        </div>
        <p class="mt-n2 mb-4">
          Assertively envisioneer high-payoff architectures after interactive service.
          Collaboratively whiteboard pandemic intellectual capital without cross-platform channels.
        </p>
        <div class="btn-wrap">
          <a routerLink="/register" class="as-btn">S'inscrire</a>
        </div>
      </div>
    </div>

  </div>
</div>
<p-toast position="bottom-right"></p-toast>
